<!-- the name of this file has underscores which helps identify that it is a partial -->
<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <!-- // We specify name="name" so that we can access it from our server by typing body.name -->
    <!-- the value doesnt have to be name -->
    <input type="text" name="name" value="<%= author.name %>">
  </div>
</div>
