{% extends "base.html" %}
{% block content %}

<div class="dining-pic-box">
  <img class="dining-pic" src="../static/images/Dining/1.jpg">
  <div class="dining-pic-text">
    <span>Dining</span>

  </div>

</div>


<div class="dining-info">


<div class="dining-info-box">
  <div class="dining-text-box-two">
    <h1 class="dining-title">About Dining</h1>
    <p class="dining-text">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
    <p class="dining-text"> Ut etiam sit amet nisl purus. In ornare quam viverra orci sagittis eu
      volutpat. Ipsum consequat nisl vel pretium. Tortor at auctor urna nunc
      id cursus metus. Velit sed ullamcorper morbi tincidunt ornare massa eget.
      Mattis ullamcorper velit sed ullamcorper.</p>
  </div>
  <div class="dining-pic-box-two">
    <img class="dining-pic-two" src="../static/images/Dining/2.jpg">
  </div>
</div>
<hr>
<div class="dining-info-box-two">
  <div class="dining-text-box-three">
    <p class="dining-text">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
    <p class="dining-text"> Ut etiam sit amet nisl purus. In ornare quam viverra orci sagittis eu
      volutpat. Ipsum consequat nisl vel pretium. Tortor at auctor urna nunc
      id cursus metus. Velit sed ullamcorper morbi tincidunt ornare massa eget.
      Mattis ullamcorper velit sed ullamcorper.</p>
  </div>
  <div class="dining-pic-box-three">
    <img class="dining-pic-three" src="../static/images/Dining/3.jpg">
  </div>
</div>

</div>



{% endblock %}
