{% extends "base.html" %}
{% block content %}


<div class="container">

  <div class="blocks">

    <a class="explore-link" href="/explore/dining">
      <div class="block">
        <img class="explore-pics" src="../static/images/Explore/Dining1.jpg">
        <img class="explore-pics" src="../static/images/Explore/Dining2.jpg">
        <img class="explore-pics" src="../static/images/Explore/Dining3.jpg">
        <img class="explore-pics" src="../static/images/Explore/Dining4.jpg">
        <div class="explore-title">
          Dining
        </div>
      </div>
    </a>

    <a class="explore-link" href="/explore/swimming">
      <div class="block">
        <img class="explore-pics" src="../static/images/Explore/Swimming1.jpg">
        <img class="explore-pics" src="../static/images/Explore/Swimming2.jpg">
        <img class="explore-pics" src="../static/images/Explore/Swimming3.jpg">
        <img class="explore-pics" src="../static/images/Explore/Swimming4.jpg">
        <div class="explore-title">
          Swimming
        </div>
      </div>
    </a>

    <a class="explore-link" href="/explore/bar">
      <div class="block">
        <img class="explore-pics" src="../static/images/Explore/Bar1.jpg">
        <img class="explore-pics" src="../static/images/Explore/Bar2.jpg">
        <img class="explore-pics" src="../static/images/Explore/Bar3.jpg">
        <img class="explore-pics" src="../static/images/Explore/Bar4.jpg">
        <div class="explore-title">
          Bar
        </div>
      </div>
    </a>

    <a class="explore-link" href="/explore/beaches">
      <div class="block">
        <img class="explore-pics" src="../static/images/Explore/Beaches1.jpg">
        <img class="explore-pics" src="../static/images/Explore/Beaches2.jpg">
        <img class="explore-pics" src="../static/images/Explore/Beaches3.jpg">
        <img class="explore-pics" src="../static/images/Explore/Beaches4.jpg">
        <div class="explore-title">
          Beaches
        </div>
      </div>
    </a>

    <a class="explore-link" href="/explore/villas">
      <div class="block">
        <img class="explore-pics" src="../static/images/Explore/Villas.jpg">
        <img class="explore-pics" src="../static/images/Explore/Villas2.jpg">
        <img class="explore-pics" src="../static/images/Explore/Villas3.jpg">
        <img class="explore-pics" src="../static/images/Explore/Villas4.jpg">
        <div class="explore-title">
          Villas
        </div>
      </div>
    </a>

    <a class="explore-link" href="/explore/transport">
      <div class="block">
        <img class="explore-pics" src="../static/images/Explore/Transport1.jpg">
        <img class="explore-pics" src="../static/images/Explore/Transport2.jpg">
        <img class="explore-pics" src="../static/images/Explore/Transport3.jpg">
        <img class="explore-pics" src="../static/images/Explore/Transport4.jpg">
        <div class="explore-title">
          Transport
        </div>
      </div>
    </a>

  </div>


</div>
<div class="explore-filler">

</div>
{% endblock %}
