<h2 class="page-header">Edit Book</h2>
<!-- As the form in this case is also sending an image, we need to specify multipart in the enctype -->
<form action="/books/<%= book.id %>?_method=PUT" method="post" enctype="multipart/form-data">
  <%- include ("_form_fields") %>
  <div class="form-row form-row-end btn-row">
    <!-- links are used for cancel, buttons used for form submits -->
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit" name="button">Update</button>
  </div>

</form>
